/* Navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #282c34;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  position: relative;
  transition: color 0.3s ease;
}

.navbar a::before,
.navbar a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -1.5px;
  height: 1.5px;
  width: 0;
  background-color: #61dafb; 
  transition: width 0.3s ease, left 0.3s ease, background-color 0.3s ease; 
}

.navbar a::before {
  transform: translateX(-50%);
}

.navbar a::after {
  transform: translateX(50%);
}

.navbar a:hover::before,
.navbar a:hover::after {
  width: 60%;
  left: 20%;
  background-color: #61dafb; 
}

.navbar a:hover {
  color: #61dafb; 
}

.sign-in-button {
  appearance: none;
  background-color: #61dafb; 
  border: 2px solid #1A1A1A;
  border-radius: 15px; 
  box-sizing: border-box;
  color: #282c34; 
  cursor: pointer;
  display: inline-block;
  line-height: normal;
  margin: 0;
  outline: none;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto; 
  will-change: transform;
}

.sign-in-button:hover {
  background-color: #21a1f1; 
}

.sign-in-button:focus {
  box-shadow: 0 0 0 4px rgba(97, 218, 251, 0.5); 
}

.sign-in-button:active {
  background-color: #1a8cd8; 
}

.account-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.account-button img.profile-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #61dafb;
  object-fit: cover;
}

.account-button:hover img.profile-pic {
  transition: 0.3s;
  box-shadow: 0 0 0 4px rgba(97, 218, 251, 0.5); 
}

/* Dropdown styles */
.dropdown-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  height: 100%;
  background: white;
  border-left: 1px solid #ccc;
  padding: 0;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden; /* Prevents overflow */
}

.dropdown-menu .profile-header {
  width: 100%;
  height: 30%;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensures no overflow */
}

.dropdown-menu .profile-header img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-bottom: 1px solid #61dafb;
}

.dropdown-menu .profile-details {
  padding: 20px;
  width: 100%;
  text-align: center;
}

.dropdown-menu p {
  margin: 5px 0;
  color: #282c34;
}

.dropdown-menu button {
  background-color: #61dafb;
  border: none;
  padding: 8px 16px;
  color: #282c34;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 10px;
}
