.modal {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-main {
    background: #4a5568;
    border-radius: 16px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    color: #FFF;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 25px;
    margin-bottom: 5px;
    color: #ffffff; /* Purple color for labels */
}

input[type="file"] {
    padding: 5px;
    color: #FFF;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
}

.modal-buttons button {
    background-color: #61dafb;
    border: none;
    border-radius: 4px;
    color: #1A1A1A;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
}

.modal-buttons button:hover {
    background-color: #21a1f1;
}

.modal-buttons button:active {
    background-color: #30cae9;
}
