.workouts-list-wrapper {
    min-height: 90vh;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.gray-bg {
    background-color: #4a5568;
    min-height: 100vh;
    height: auto;
}

.workout-card {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
    color: #000000;
    text-decoration: none;
    position: relative;
    transition: transform 0.2s;
}

.workout-card:hover {
    transform: scale(1.02);
}

.workout-card-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.workout-card-info {
    display: flex;
    justify-content: space-between;
    width: 70%;
}

.workout-card-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 60%;
    padding: 16px;
}

.workout-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 40%;
    text-align: right;
}

.workout-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 8px;
}

.workout-card-stats {
    display: flex;
    gap: 16px;
    font-size: 14px;
}

.workout-card-stats span {
    display: flex;
    align-items: center;
    font-size: 18px; /* Увеличиваем размер текста */
}

.workout-card-stats img {
    width: 16px; /* Уменьшаем размер иконок */
    height: 16px; /* Уменьшаем размер иконок */
    margin-right: 8px; /* Добавляем отступ между иконкой и текстом */
}

.workout-card-description {
    font-size: 16px;
    color: #2D3748;
    margin-bottom: 16px;
    flex-grow: 1;
}

.workout-card-like {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.workout-card-star {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
    position: absolute;
    right: 0;
}

.starIcons {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #2D3748;
    font-size: 20px;
}

.likeIcons {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #2D3748;
    font-size: 24px;
}



.workout-card-image {
    width: 25%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}