/* Set the background color of the entire page */
body {
    background-color: #4a5568;
    margin: 0;
    padding: 0;
}

/* Ensure the main wrapper has a transparent background */
.main-wrapper {
    background-color: transparent;
}

.exercise-item {
    background-color: #4a5568b3;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 24px;
    display: flex;
    position: relative;
    gap: 10px;
    color: white;
    transition: transform 0.3s ease;
    cursor: grab;
}

.exercise-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.workoutPage {
    max-width: 1024px;
    width: 100%;
    margin: 2rem auto;
    display: flex;
    gap: 1rem;
    color: #4a5568;
}

.container-workout {
    padding: 16px;
    background-color: #f6f6f6;
    border-radius: 12px;
}

.columnsWrapper {
    display: flex;
    gap: 1rem;
    width: 100%;
}

.leftColumnWrapper {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Adjust this value to control the sticky position */
    align-self: flex-start; /* Ensures the column starts from the top */
    flex: 1;
    border-radius: 12px;
    box-sizing: border-box;
    background-color: #ffffff; /* Optional: adds a background to the sticky section */
    z-index: 10; /* Ensures the sticky section stays on top */
}

.rightColumnWrapper {
    width: 60%;
}

.workoutDetails {
    position: sticky;
    top: 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    gap: 1rem;
}

.workoutImage {
    width: 100%;
    border-radius: 12px;
}

.workoutInfo {
    display: flex;
    justify-content: space-between;
    color: gray;
}

.likeIcon {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #2D3748;
    font-size: 24px;
    position: absolute;
    top: 16px;
    right: 16px;
}

.workoutName {
    font-size: 24px;
    line-height: 100%;
    font-weight: 500;
    color: white;
}

.workoutCreatedBy, .workoutDescription {
    color: gray;
}

.workoutCreator, .workoutsTitle, .workoutMinutes, .workoutKcal {
    color: #000000;
    margin: 0;
}

.exercise-details {
    display: flex;
    align-items: center;
    gap: 10px;
}

.exercies-image {
    width: 70px;
    height: 70px;
    object-fit: cover;
    border-radius: 50%;
}

.exercise-name, .exercise-duration {
    margin: 0;
}

.exercise-repetitions {
    color: #9C74F5;
}

.exercise-actions {
    position: absolute;
    top: 10px;
    right: 10px;
}

.exercise-actions .delete-button {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.exercise-actions .delete-button img {
    width: 60%; /* Adjust size as needed */
    height: 60%; /* Adjust size as needed */
}
