.workouts-list-wrapper {
    min-height: 90vh;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 24px;
}

.gray-bg {
    background-color: #4a5568;
    min-height: 100vh;
    height: auto;
}

.workout-card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFFF;
    border-radius: 12px;
    overflow: hidden;
    color: #000000;
    text-decoration: none;
    position: relative;
    transition: transform 0.2s;
}

.workout-card-container:hover {
    transform: scale(1.02);
}

.workout-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: flex-start; /* Ensure alignment for consistent layout */
    text-decoration: none; /* Prevent underline on link */
}

.workout-card-info {
    display: flex;
    flex-direction: column; /* Adjusted to column to allow expanding vertically */
    width: 70%;
}

.workout-card-details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 16px;
    flex: 1;
}

.workout-card-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: right;
    flex: 1;
}

.workout-card-title {
    font-size: 24px;
    font-weight: bold;
    color: #000000;
    margin-bottom: 8px;
}

.workout-card-stats {
    display: flex;
    gap: 16px;
    font-size: 14px;
}

.workout-card-stats span {
    display: flex;
    align-items: center;
    font-size: 18px; /* Increase text size */
}

.workout-card-stats img {
    width: 16px; /* Adjust icon size */
    height: 16px; 
    margin-right: 8px; 
}

.workout-card-description {
    font-size: 16px;
    color: #2D3748;
    margin-bottom: 16px;
    flex-grow: 1;
}

.workout-card-like {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.workout-card-star {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 5px;
    position: absolute;
    right: 0;
}

.starIcons {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #2D3748;
    font-size: 20px;
}

.likeIcons {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 4px;
    color: #2D3748;
    font-size: 24px;
}

.workout-card-image {
    width: 30%; /* Ensure consistent width */
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.workout-card-comments {
    margin-top: 16px;
    padding: 16px; /* Add padding for comments section */
}

.workout-card-comments h4 {
    margin-bottom: 8px;
    font-size: 18px;
}

.workout-card-comments ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 16px;
}

.workout-card-comments li {
    background-color: #f7f7f7;
    padding: 8px;
    border-radius: 8px;
    margin-bottom: 8px;
}

.workout-card-comments input {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.workout-card-comments button {
    padding: 8px 16px;
    background-color: #3182ce;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.workout-card-comments button:hover {
    background-color: #2b6cb0;
}

.toggle-comments-button {
    padding: 8px 16px;
    background-color: #3182ce;
    color: #ffffff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin: 16px; /* Add margin for spacing */
}

.toggle-comments-button:hover {
    background-color: #2b6cb0;
}
