/* card.css */

.cards-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 2rem;
}
@media(min-width: 768px){
    .cards-container{
        flex-direction: row;
    }
}
.ExerciseCard {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    background-color: #1e1e1e;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative; 
    transition: transform 0.3s ease; 
}
@media(min-width: 768px){
    .ExerciseCard{
        max-width: 300px;
        margin: 0;
    }
}

.ExerciseCard-image {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.ExerciseCard-info {
    padding: 10px 0;
}

.ExerciseCard-title {
    font-size: 1.2em;
    margin: 0;
}

.ExerciseCard-description {
    margin: 5px 0 0;
}

.ExerciseCard-details {
    display: none;
    padding: 10px;
    text-align: left;
    background-color: #2e2e2e;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    box-sizing: border-box;
}

.ExerciseCard:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.ExerciseCard:hover > .ExerciseCard-details {
    display: block;
    transition: display 0.3s ease;
}
